{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <h1>About Us</h1>
    <p>
     A Spotify mock up made by CS320 Advanced Programming class for Fall 2023.
     <br>Our goal is to have users track their playlists and keep track of their favorite songs 🎶
     <br>Our website gives users the ability to have their personal curated liked songs playlist but also make
     their own playlists. <br>You are able to add, remove and view your favorite artists!
    </p>   
</div>
{% endblock %}