{% extends 'base.html' %}
{% block content %}
<style>
    .clickable-card {
        text-decoration: none;
        color: inherit;
    }
    .clickable-card:hover {
        text-decoration: none;
        color: inherit;
    }
    .clickable-card .card {
        transition: border-color 0.3s;
    }
    .clickable-card:hover .card {
        border-color: var(--bs-primary);
    }
    .clickable-card .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .card-footer {
        text-align: center;
        background: inherit;
        border-top: none;
    }
</style>

<div class="container mt-4">
    <h2 class="no-underline">Playlists</h2>
    <!-- Button to create a new playlist -->
    <div class="mb-3">
        <a href="{% url 'main:create_playlist' %}" class="btn btn-primary">Create New Playlist</a>
    </div>
    <!-- Playlist Grid -->
    <div class="row">
        {% if playlists %}
            {% for playlist in playlists %}
            <div class="col-md-4">
                <div class="card">
                    {% if playlist.name == "Liked Songs" %}
                        <a href="{% url 'main:liked_songs' %}" class="clickable-card">
                    {% else %}
                        <a href="{% url 'main:show_single_playlist' playlist.id %}" class="clickable-card">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ playlist.name }}</h5>
                        </div>
                    </a>
                    {% if playlist.name != "Liked Songs" %}
                        <div class="card-footer">
                            <a href="{% url 'main:delete_playlist' playlist.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p class="text-center">Please <a href="{% url 'main:login' %}">log in</a> or <a href="{% url 'main:register' %}">register</a> to see your playlists.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}